

html {
    font-family: arial;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

 input:focus {
     outline: none;
 }

 li {
     text-align: left;
     font-size: 40px;
     list-style: none;
     margin: 0;
 }

 footer {
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: aliceblue;
    color: black;
    position: fixed;
    width: 100%;
    border: solid blue 1px;
}

.ui {
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.container {
position: relative;
height: 600px;
}

.remove {
    padding-bottom: 5px;
}